name: Release
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Chose between: major, minor, patch'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: use Node.js 15
        uses: actions/setup-node@v1
        with:
          node-version: 15

      - name: add package token
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_REPO_TOKEN }}" >> .npmrc

      - name: Yarn install
        run: yarn

      - name: Yarn update version
        run: yarn version:${{ github.event.inputs.release-type }}
