name: Release
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Chose between: major, minor, patch'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Hello ${{ github.event.inputs.name }}!"
          echo "- in ${{ github.event.inputs.home }}!"
