name: Release
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Chose between: major, minor, patch'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      REMOTE_ORIGIN: https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git
    steps:
      - uses: actions/checkout@v2
      - name: use Node.js 15
        uses: actions/setup-node@v1
        with:
          node-version: 15

      - name: add package token
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_REPO_TOKEN }}" >> .npmrc

      - name: cache node modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Yarn install
        run: yarn

      - name: Yarn update version
        run: yarn version:${{ github.event.inputs.release-type }}

      - name: Set version variable
        run: |
          export VERSION="$(grep 'version' package.json | head -n 1 | cut -d '"' -f4 | tr -d '[[:space:]]')"
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Commit & Push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.co"
          git config --local user.name "github-actions[bot]"
          git add -A && git commit -m "update package version to ${{ env.version }}"
          git push ${{ env.REMOTE_ORIGIN }} HEAD:$GITHUB_REF

      - uses: actions/checkout@v2
        with:
          ref: main
          clean: false

      - name: Merge to main
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.co"
          git config --local user.name "github-actions[bot]"
          git fetch ${{ env.REMOTE_ORIGIN }} ${GITHUB_REF#refs/heads/}
          git merge ${GITHUB_REF#refs/heads/} --allow-unrelated-histories --force
          git push ${{ env.REMOTE_ORIGIN }} main

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: RELEASE-v${{ env.version }}
          release_name: Release ${{ env.version  }}
          draft: false
          prerelease: false
