name: Release
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Chose between: major, minor, patch'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: use Node.js 15
        uses: actions/setup-node@v1
        with:
          node-version: 15

      - name: add package token
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_REPO_TOKEN }}" >> .npmrc

      - name: cache node modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Yarn install
        run: yarn

      - name: Yarn update version
        run: yarn version:${{ github.event.inputs.release-type }}

      - name: Set version variable
        run: |
          export VERSION="$(grep 'version' package.json | head -n 1 | cut -d '"' -f4 | tr -d '[[:space:]]')"
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Commit & Push changes
        run: |
          git add -A && git commit -m "update package version to ${{ env.version }}"
          remote_branch="https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git push "$remote_branch" HEAD:$GITHUB_REF
