name: Release
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Chose between: major, minor, patch'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Yarn install
        run: yarn

      - name: Yarn update version
        run: yarn version:${{ github.event.inputs.release-type }}
